# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
#/public_html/sites/*/*settings*.php
#/public_html/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/public_html/sites/*/files
/public_html/sites/*/public
/public_html/sites/*/private
/public_html/sites/*/files-public
/public_html/sites/*/files-private

# Ignore paths that may contain temporary files
/public_html/sites/*/translations
/public_html/sites/*/tmp
/public_html/sites/*/cache

# Ignore testing related files
/public_html/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/public_html/core
/public_html/modules/README.txt
/public_html/modules/contrib
/public_html/profiles/README.txt
/public_html/sites/README.txt
/public_html/sites/example.sites.php
/public_html/sites/example.settings.local.php
/public_html/sites/development.services.yml
/public_html/themes/README.txt
/public_html/themes/*
/vendor
/public_html/.csslintrc
/.editorconfig
/public_html/.eslintignore
/public_html/.eslintrc.json
/.gitattributes
/public_html/.htaccess
/public_html/autoload.php
/public_html/composer.json
/public_html/composer.lock
/public_html/example.gitignore
/public_html/index.php
/public_html/LICENSE.txt
/public_html/README.txt
/public_html/robots.txt
/public_html/update.php
/public_html/web.config
